<form [formGroup]="parentForm" (ngSubmit)="onSubmit()" *ngIf="formConfig">
  <div>
    <h2>{{formConfig.formLabel}}</h2>
  </div>
  <div
    *ngFor="let ipConfig of formConfig.inputConfigurations"
    [ngSwitch]="ipConfig.type"
  >
    <div *ngSwitchCase="'text'">
      <app-text-input
        [inputConfig]="ipConfig"
        [formControlName]="ipConfig.formEntityProperty"
        [disabled]= "ipConfig.disabled"
      ></app-text-input>
    </div>
    <div *ngSwitchCase="'textArea'">
      <app-text-area-input
        [inputConfig]="ipConfig"
        [formControlName]="ipConfig.formEntityProperty"
      ></app-text-area-input>
    </div>
    <div *ngSwitchCase="'select'">
      <app-select
        [inputConfig]="ipConfig"
        [formControlName]="ipConfig.formEntityProperty"
      ></app-select>
    </div>
    <div *ngSwitchCase="'radio'">
      <app-radio
        [inputConfig]="ipConfig"
        [formControlName]="ipConfig.formEntityProperty"
      ></app-radio>
    </div>
    <div *ngSwitchCase="'checkBox'">
      <app-check-box
        [inputConfig]="ipConfig"
        [formControlName]="ipConfig.formEntityProperty"
      ></app-check-box>
    </div>
    <div *ngSwitchCase="'tree'">
      <app-my-tree
        [inputConfig]="ipConfig"
        [formArrayName]="ipConfig.formEntityProperty"
      ></app-my-tree>
    </div>
  </div>
  <div *ngFor="let action of actionConfigs" [ngSwitch]="action.submitType" class="mt-3 mb-5">
    <div *ngSwitchCase="'submit'">
      <button
        [type]="action.submitType"
        class="btn btn-primary"
        [disabled]="action.disableIfInvalid && parentForm.invalid"
        (click)="onPrimaryButtonClick(action)"
      >
        {{ action.buttonName }}
      </button>
    </div>
    <div *ngSwitchCase="'reset'">
      <button
        [type]="action.submitType"
        class="btn btn-secondary"
        (click)="onResetForm()"
      >
        {{ action.buttonName }}
      </button>
    </div>
  </div>
</form>
<pre> {{parentForm.value | json}}</pre>
