<form [formGroup]="inputSelectForm">
  <div class="form-group">
    <label>{{ inputConfig.label }}:</label>
    <select
      class="custom-select"
      formControlName="selectInput"
      (change)="onChange()"
    >
      <option value="" selected disabled>Please select</option>
      <option *ngFor="let option of inputConfig.options" [value]="option">{{
        option
      }}</option>
    </select>
  </div>
  <div
    *ngIf="
      inputSelectForm.get('selectInput').invalid &&
      (inputSelectForm.get('selectInput').dirty ||
        inputSelectForm.get('selectInput').touched)
    "
    class="alert alert-danger"
  >
    <p *ngIf="requiredValidationMessage">{{ requiredValidationMessage }}</p>
    <p *ngIf="!requiredValidationMessage">Please select a {{ inputConfig.label }}</p>
  </div>
</form>
